<!DOCTYPE html>
<html>
  <head>
    <title>W8D2TeambdxCalculatricebdxMassimo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <% if flash[:notice] %>
      <%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %></p>
    <% end %>
    <% flash[:error] = flash[:notice] = nil %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
